---
import { log } from "astro/dist/core/logger/core";

const { heading } = Astro.props
---
<li>
	<a href={'#' + heading.slug}>
		{heading.text}
	</a>
	{heading.children.length > 0 && (
		<ol>
			{heading.children.map(child => <Astro.self heading={child} />)}
		</ol>
	)}
</li>
